<div class="jumbotron">
	<h1>Welcome to Jack's One Month Rails tutorial</h1>
	<p>You've found the home page
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	 	application
	</p>
	
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large", color:"green" %>
	</p>
</div>