<% if user_signed_in? %>
	<h1>You're logged in!</h1>
<% else %>
	<div class="jumbotron">
		<h1>Welcome to Jack's One Month Rails tutorial</h1>
		<p>You've found the home page
			<%= link_to "One Month Rails", "http://onemonthrails.com"%>
		 	application
		</p>
	
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>